body{
	margin: 0;
	padding: 0; 
}
.container{
	overflow: auto;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
.main{
	background-color: rgb(190 205 255);
	height: 90%;
	width: 100%;
	text-align: center;
}
.footer{
	background-color: #bbb;
	height: 5%;
	width: 100%;
	text-align: center;
	color: 171a21;
	position: fixed;
	bottom: 0px;
}
.greeting{
	text-align: center;
	color: 171a21;
	background-color: 92bcea;
	height: 15%;
	margin: 0px;
}
label{
	color: white;
}
input{	
	width: 90%;
	margin: 2% 5% 2% 5%;
}
button{
	cursor: pointer;
	width: 50%;
	margin: 2% 25% 2% 25%;		
}
input, button{
	margin-top: 10%;
	background-color: snow;
	border-radius: 30px;
	height: 10%;
	padding: 3%;
}
.login, .register{
	margin-top: 5%;
	margin-left: 40%;
	width: 20%;
	display: flex;
	flex-direction: column;
	background-color: AFB3F7;
	border-radius: 30px;
	position: fixed;
}
.register{
	display: none;
}
form{
	width: 100%;
}

@media only screen and (max-width: 900px) {
	.footer{
		display: none;
	}
	.greeting{
		display: none;
	}
	.header{
		display: none;
	}
	.main{
		height: 100%;
		width: 100%;
	}
	.login, .register{
		width: 70%;
		margin-left: 15%;
		height: 80%;
		bottom: 5%;
	}
	.register{
		height: 60%;
	}
	.login{
		height: 60%;
	}
	button, input{
		margin-top:4%;
		padding:3%;
	}

}