body{
	margin: 0;
	padding: 0; 
}
.container{
	overflow: auto;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
.header{
	background-color: 92bcea;
	height: 15%;
	width: 100%;
	position: fixed;
}
.main{
	background-color: rgb(190 205 255);
	height: 90%;
	width: 100%;
	text-align: center;
	position: fixed;
	top: 15%;
}
.footer{
	background-color: #bbb;
	height: 5%;
	width: 100%;
	text-align: center;
	color: 171a21;
	position: fixed;
	bottom: 0;
}
.greeting{
	text-align: center;
	color: 171a21;
}
label{
	color: white;
}
input, button{
	margin: 5%;
	padding: 5%;
	background-color: snow;
	border-radius: 10px;
}
input{	
	width: 90%;
}
button{
	cursor: pointer;
}
.log, .register{
	margin: auto;
	margin-top: 100px;
	width: 190px;
	display: flex;
	flex-direction: column;
	background-color: AFB3F7;
	border-radius: 30px;
}
.register{
	display: none;
}
form{
	width: 100%;
}
#register{
	width: 50%;
	margin: auto;
	margin-bottom: 5%;
}